.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $color-black;
  height: 7.375rem;
  margin-top: 6.25rem;
  text-align: center;
  margin-bottom: auto;

  p {
    line-height: 3rem;
  }
}

.background {
  &__image {
    max-width: 100%;
    background-position: center;
    background-size: cover;
    box-shadow: 0 6px 7px #00000029;
    margin-top: 3rem;

  @include tablet {
    width: 100%;
    transform: none;
  }

    @media (max-width: 413px) {
      margin-top: 6rem;
    }
  }
}
